.button,
.u-btn-primary {
  display: inline-block;
  background-color: $primary;
  border: none;
  // margin: 0.250rem 0.500rem;
  padding: 0.500rem 1rem;
  color: #fff !important;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

// .u-btn-primary:first-of-type {
//   margin-left: 0;
//   @media (min-width: 993px) {
//     display: inline-block;
//     margin: 0;
//   }
// }

// .u-btn-primary:not(:first-child) {
//   margin-right: 0.25rem;
// }

.button,
.u-btn-primary:hover,
.u-btn-primary:active,
.u-btn-primary:focus {
  opacity: 0.8 !important;
  color: #fff !important;
  text-decoration: none !important;
  background-color: #333 !important;
}


.u-btn-ghost {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  border: none;
  color: $primary !important;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  svg {
    width: 16px;
  }
}