.vs-header {
  position: relative;
}

.vs-header img {
  vertical-align: middle;
  width: 100%;
  height: auto;
  margin: 0 !important;
}

.vs-header-sml {
  position: relative;
  text-align: center;
  max-width: 1170px;
  margin: 0 auto;
  height: 188px;
}

.vs-header-sml img {
  position: absolute;
  z-index: -1;
  bottom: 0rem;
  vertical-align: middle;
  height: auto;
  margin-top: 0;
  left: 0;
}

@media (min-width: 993px) {
  .vs-header-sml img {
    bottom: -2rem;
  }
}

@media (min-width: 1171px) {
  .vs-header-sml img {
    bottom: -4rem;
  }
}

// SVG headers
.vs-spookhuis {
  // max-width: 1200px;
  max-width: 1380px;
  margin: 0 auto;
}
