// Content
.vs-site {
  position: relative;
  min-height: calc(100vh - 240px);
}

// Content
.vs-content-container {
  max-width: 1660px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .vs-content-container > section:first-of-type {
    margin-top: -25px;
  }
}

.vs-content-inner-container {
  width: 90%;
  margin: 0 auto;
  background: url(/img/block.png) top center repeat-y;
  background-size: 100%;
  min-height: 320px;
  max-width: 1061px;
  padding-bottom: 4rem;
}

//   Article
.vs-article {
  margin: 2rem 0;
}

// Intro
.vs-intro {
  float: left;
  display: block;
  margin-top: 0;
}

@media (min-width: 993px) {
  .vs-intro {
    margin-top: 6rem;
  }
}
